<nav aria-label="Page navigation">
    {{#if hasPrevPage}}
        <a href="?page={{prevPage}}">Anterior</a>
    {{/if}}
    {{#if hasNextPage}}
        <a href="?page={{nextPage}}">Siguiente</a>
    {{/if}}
</nav>
